/*General Styles*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: #555;
}

ul,
nav {
	list-style: none;
}

a {
	text-decoration: none;
	opacity: 0.75;
	color: #fff;
}

a:hover {
	opacity: 1;
}

a.btn {
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: #e07e7b;
	opacity: 1;
	transition: all 400ms;
}

a.btn:hover {
	background-color: #ce5856;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
}

section:not(.hero):nth-child(even) {
	background-color: #f5f5f5;
}

.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

hr {
	width: 250px;
	height: 3px;
	background-color: #e07e7b;
	border: 0;
	margin-bottom: 50px;
}
/*----Text Reveal and image for sightseeing */

.image-1 {
	background-image: url("https://images.unsplash.com/photo-1605985687800-b280f966c1c1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80");
    width: 500px;
	height: 28px;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size:cover ;
	text-decoration: underline;
	
}
.image-1 p{
	opacity: 0;
	transform: scale(0);
	transition: 0.8s;
	font-size: 1rem;
	color: white;
}
.image-1:hover{
	box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
    
}

.image-1:hover p{
	opacity: 1;
	transform: scale(1);
}

.image-2 {
	background-image: url("https://images.unsplash.com/photo-1533914772478-15cc30e93990?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    width: 500px;
	height: 28px;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size:cover ;
	text-decoration: underline;
}
.image-2 p{
	opacity: 0;
	transform: scale(0);
	transition: 0.8s;
	font-size: 1rem;
	color: white;
}
.image-2:hover{
	box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
    
}

.image-2:hover p{
	opacity: 1;
	transform: scale(1);
}
.image-3 {
	background-image: url("https://images.unsplash.com/photo-1533744487451-03ef6f854e6f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
	width: 500px;
	height: 28px;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size:cover ;
	text-decoration: underline;
}
.image-3 p{
	opacity: 0;
	transform: scale(0);
	transition: 0.8s;
	font-size: 1rem;
	color: white;
}
.image-3:hover{
	box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
    
}

.image-3:hover p{
	opacity: 1;
	transform: scale(1);
}
.image-4 {
	background-image: url("https://www.caudan.com/sites/default/files/styles/large/public/2019-04/Instagram%209.jpg?itok=PbXWLKgb");
	width: 500px;
	height: 28px;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size:cover ;
	text-decoration: underline;

}
.image-4 p{
	opacity: 0;
	transform: scale(0);
	transition: 0.8s;
	font-size: 1rem;
	color: white;
}
.image-4:hover{
	box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
    
}

.image-4:hover p{
	opacity: 1;
	transform: scale(1);
}

.image-5 {
	background-image: url("https://beauplan.mu/wp-content/uploads/2022/01/image-article-Beau-Plan.jpg");
	width: 500px;
	height: 28px;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size:cover ;
	text-decoration: underline;
}
.image-5 p{
	opacity: 0;
	transform: scale(0);
	transition: 0.8s;
	font-size: 1rem;
	color: white;
}
.image-5:hover{
	box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
    
}

.image-5:hover p{
	opacity: 1;
	transform: scale(1);
}

.image-6 {
	background-image: url("https://assets.traveltriangle.com/blog/wp-content/uploads/2015/02/Chamarel-Village.jpg");
	width: 500px;
	height: 28px;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size:cover ;
	text-decoration: underline;
}
.image-6 p{
	opacity: 0;
	transform: scale(0);
	transition: 0.8s;
	font-size: 1rem;
	color: white;
}
.image-6:hover{
	box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
    
}

.image-6:hover p{
	opacity: 1;
	transform: scale(1);
}

.image-7 {
	background-image: url("https://mauritiusattractions.com/slir/w854/content/images/guide/i-337/waterfalls-in-mauritius%20(1).jpg");
	width: 500px;
	height: 28px;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size:cover ;
	text-decoration: underline;
}
.image-7 p{
	opacity: 0;
	transform: scale(0);
	transition: 0.8s;
	font-size: 1rem;
	color: white;
}
.image-7:hover{
	box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
    
}

.image-7:hover p{
	opacity: 1;
	transform: scale(1);
}

.image-8 {
	background-image: url("https://mauritiusattractions.com/newassets/images/0.22886400-1656309623-hiking-trip-black-river-gorges-park-half.jpg");
	width: 500px;
	height: 28px;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size:cover ;
	text-decoration: underline;
}

.image-8 p{
	opacity: 0;
	transform: scale(0);
	transition: 0.8s;
	font-size: 1rem;
	color: white;
}
.image-8:hover{
	box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
    
}

.image-8:hover p{
	opacity: 1;
	transform: scale(1);
}
.image-9 {
	background-image: url("https://media.tacdn.com/media/attractions-splice-spp-674x446/0b/39/b3/cc.jpg");
	width: 500px;
	height: 28px;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size:cover ;
	text-decoration: underline;
}
.image-9 p{
	opacity: 0;
	transform: scale(0);
	transition: 0.8s;
	font-size: 1rem;
	color: white;
}
.image-9:hover{
	box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
    
}

.image-9:hover p{
	opacity: 1;
	transform: scale(1);
}
.image-10 {
	background-image: url("https://encrypted-tbn3.gstatic.com/licensed-image?q=tbn:ANd9GcRp-rNcNebMpVHKsj-c11k2Bh-EWyJ8sREzjV9xGrphhaIJRdksTnGEr5VmyPd56CFbkasvNzLFMFKlZzQfG5jlHQ");
	width: 500px;
	height: 28px;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size:cover ;
	text-decoration: underline;
}
.image-10 p{
	opacity: 0;
	transform: scale(0);
	transition: 0.8s;
	font-size: 1rem;
	color: white;
}
.image-10:hover{
	box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
    
}

.image-10:hover p{
	opacity: 1;
	transform: scale(1);
}

section h3.title {
	text-transform: capitalize;
	font: bold 48px "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	margin-bottom: 30px;
	text-align: center;
}

section p {
	max-width: 775px;
	line-height: 2;
	padding: 0 20px;
	margin-bottom: 30px;
	text-align: center;
}

@media (max-width: 800px) {
	section {
		padding: 50px 20px;
	}
}

/*Header Styles for new nav bar*/
.section-main{
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-image: url("https://images.unsplash.com/photo-1582192730841-2a682d7375f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

header{
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	animation: 1s fadein 0.5s forwards;
	align-items: center;
	padding: 20px 100px;
	opacity: 0;
	transition: 0.6s;
	
}

header.sticky{
  background:rgb(35, 31, 32);
  padding: 15px 100px;
  

}

header img{
	width: 100%;
	height: auto;
	margin-left: -40px;
    
	/* To make page responsive */
	max-width: 150px;
}

header .menu{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

}

header .menu  a{
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	/* to measure distance between header margin right if we want to add a new link in nav */
	margin: 0 0 8px;
	padding: 0 10px;
	border-radius: 20px;
	transition: 0.3s;
	transition-property: color, background;

}

header .menu a:hover{
	color: black;
	background: #fff;

}

header .butn{
	color: #fff;
	font-size: 25px;
	cursor: pointer;
	display: none;
}

@media(max-width: 1060px){
header .butn{
	display: block;
}
header .menu{
	position: fixed;
	background: rgb(35, 31, 32);
	flex-direction: column;
	min-width: 400px;
	height: 100vh;
	top: 0;
	right: -100%;
	padding: 80px 50px;

}

header .menu .active{
	right: 0;

}
   header .menu .close-btn{
	   position: absolute;
	   top: 0;
	   left: 0;
	   margin: 25px;
   }

   header .menu a{
	display: block;
	font-size: 20px;
	margin: 20px;
	padding: 0 15px;
  }
}
/*Header Styles------------------------------------------------------------------------------------------------------------*/


@keyframes fadein {
	100% {
		opacity: 1;
	}
}

/*Hero Styles--------------------------------------------------------------------------------------------------------*/

.hero {
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: #fff;
}

.hero .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("https://images.unsplash.com/photo-1582192730841-2a682d7375f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
	background-size: cover;
	z-index: -1;
	background-color: #80a3db;
}

.hero h1 {
	width: 100%;
	height: auto;
	font: 60px "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	margin-bottom: 15px;
	max-width: 900px;
}

.hero h3 {
	font: 28px "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-weight: 300;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	margin-bottom: 40px;
}

.hero a.btn {
	padding: 20px 46px;
}

.hero-content-area {
	opacity: 0;
	margin-top: 100px;
	animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@media (max-width: 800px) {
	.hero {
		min-height: 600px;
	}

	.hero h1 {
		font-size: 48px;
	}

	.hero h3 {
		font-size: 24px;
	}

	.hero a.btn {
		padding: 15px 40px;
	}
}
/*Hero Styles--------------------------------------------------------------------------------------------------------*/

/*Destinations and SightSeeing Section-----------------------------------------------------------------------------------*/

#destinations .destinations .grid li {
	height: 350px;
	padding: 20px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}
#destinations .destinations .grid li {
	height: 350px;
	padding: 20px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}

#destinations .destinations .grid li.small {
	flex-basis: 30%;
}

#destinations .destinations .grid li.large {
	flex-basis: 70%;
}

@media (max-width: 1100px) {
	#destinations .destinations .grid li.small,
	#destinations .destinations .grid li.large {
		flex-basis: 50%;
	}
}

@media (max-width: 800px) {
	#destinations .destinations .grid li.small,
	#destinations .destinations .grid li.large {
		flex-basis: 100%;
	}
}

/*-----------------Venue Section---------------------------------------------------------------------*/

.venue .grid li {
	padding: 50px;
	flex-basis: 50%;
	text-align: center;
}

.venue .grid li i {
	color:cornflowerblue;
	font: 28px "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.venue .grid li h4 {
	font-size: 30px;
	margin: 25px 0;
}

@media (max-width: 800px) {
	.venue .grid li {
		flex-basis: 100%;
		padding: 20px;
	}
}

/*Home Section*/

#home .home .quote {
	font-size: 22px;
	font-weight: 300;
	line-height: 1.5;
	margin: 40px 0 25px;
}

@media (max-width: 800px) {
	#home .home .quote {
		font-size: 18px;
		margin: 15px 0;
	}

	#home .home .author {
		font-size: 14px;
	}
}

/*Gallery and Past Conference Section---------------------------------------------------------------*/
#gallery .gallery .grid li {
	height: 350px;
	padding: 20px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}
#gallery .gallery .grid li {
	height: 350px;
	padding: 20px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}

#gallery .gallery .grid li.small {
	flex-basis: 30%;
}

#gallery .gallery .grid li.large {
	flex-basis: 70%;
}

@media (max-width: 1100px) {
	#gallery .gallery .grid li.small,
	#gallery .gallery .grid li.large {
		flex-basis: 50%;
	}
}

@media (max-width: 800px) {
	#gallery .gallery .grid li.small,
	#gallery .gallery .grid li.large {
		flex-basis: 100%;
	}
}
/*----Text Reveal and image for sightseeing */
/*------------------------------------- PAST CONFERENCE----------------------------------------------------- */
.image-12 {
	background-image: url("https://udm.ac.mu/srrnet-conf/2022/Images/photo-gallery/barcelos/1.jpg");
    width: 500px;
	height: 28px;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size:cover ;
	text-decoration: underline;
	
}
.image-12 p{
	opacity: 0;
	transform: scale(0);
	transition: 0.8s;
	font-size: 1rem;
	color: white;
}
.image-12:hover{
	box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
    
}

.image-12:hover p{
	opacity: 1;
	transform: scale(1);
}

.image-22 {
	background-image: url("https://udm.ac.mu/srrnet-conf/2022/Images/photo-gallery/barcelos/3.jpg");
    width: 500px;
	height: 28px;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size:cover ;
	text-decoration: underline;
}
.image-22 p{
	opacity: 0;
	transform: scale(0);
	transition: 0.8s;
	font-size: 1rem;
	color: white;
}
.image-22:hover{
	box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
    
}

.image-22:hover p{
	opacity: 1;
	transform: scale(1);
}
.image-32 {
	background-image: url("https://udm.ac.mu/srrnet-conf/2022/Images/photo-gallery/barcelos/5.jpg");
	width: 500px;
	height: 28px;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size:cover ;
	text-decoration: underline;
}
.image-32 p{
	opacity: 0;
	transform: scale(0);
	transition: 0.8s;
	font-size: 1rem;
	color: white;
}
.image-32:hover{
	box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
    
}

.image-32:hover p{
	opacity: 1;
	transform: scale(1);
}

.image-42 {
	background-image: url("https://udm.ac.mu/srrnet-conf/2022/Images/photo-gallery/bangalore/1.jpg");
	width: 500px;
	height: 28px;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size:cover ;
	text-decoration: underline;

}

.image-42 p{
	opacity: 0;
	transform: scale(0);
	transition: 0.8s;
	font-size: 1rem;
	color: white;
}
.image-42:hover{
	box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
    
}

.image-42:hover p{
	opacity: 1;
	transform: scale(1);
}

.image-52 {
	background-image: url("https://udm.ac.mu/srrnet-conf/2022/Images/photo-gallery/bangalore/5.jpg");
	width: 500px;
	height: 28px;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size:cover ;
	text-decoration: underline;
}
.image-52 p{
	opacity: 0;
	transform: scale(0);
	transition: 0.8s;
	font-size: 1rem;
	color: white;
}
.image-52:hover{
	box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
    
}

.image-52:hover p{
	opacity: 1;
	transform: scale(1);
}

.image-62 {
	background-image: url("https://udm.ac.mu/srrnet-conf/2022/Images/photo-gallery/bangalore/6.jpg");
	width: 500px;
	height: 28px;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size:cover ;
	text-decoration: underline;
}
.image-62 p{
	opacity: 0;
	transform: scale(0);
	transition: 0.8s;
	font-size: 1rem;
	color: white;
}
.image-62:hover{
	box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
    
}

.image-62:hover p{
	opacity: 1;
	transform: scale(1);
}

.image-72 {
	background-image: url("https://udm.ac.mu/srrnet-conf/2022/Images/photo-gallery/buxton/2.jpg");
	width: 500px;
	height: 28px;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size:cover ;
	text-decoration: underline;
}
.image-72 p{
	opacity: 0;
	transform: scale(0);
	transition: 0.8s;
	font-size: 1rem;
	color: white;
}
.image-72:hover{
	box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
    
}

.image-72:hover p{
	opacity: 1;
	transform: scale(1);
}

.image-82 {
	background-image: url("https://udm.ac.mu/srrnet-conf/2022/Images/photo-gallery/buxton/3.jpg");
	width: 500px;
	height: 28px;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size:cover ;
	text-decoration: underline;
}

.image-82 p{
	opacity: 0;
	transform: scale(0);
	transition: 0.8s;
	font-size: 1rem;
	color: white;
}
.image-82:hover{
	box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
    
}

.image-82:hover p{
	opacity: 1;
	transform: scale(1);
}
.image-92 {
	background-image: url("https://udm.ac.mu/srrnet-conf/2022/Images/photo-gallery/melbourne/2.jpg");
	width: 500px;
	height: 28px;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size:cover ;
	text-decoration: underline;
}
.image-92 p{
	opacity: 0;
	transform: scale(0);
	transition: 0.8s;
	font-size: 1rem;
	color: white;
}
.image-92:hover{
	box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
    
}

.image-92:hover p{
	opacity: 1;
	transform: scale(1);
}
.image-102 {
	background-image: url("https://udm.ac.mu/srrnet-conf/2022/Images/photo-gallery/brazil/3.jpg");
	width: 500px;
	height: 28px;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size:cover ;
	text-decoration: underline;
}
.image-102 p{
	opacity: 0;
	transform: scale(0);
	transition: 0.8s;
	font-size: 1rem;
	color: white;
}
.image-102:hover{
	box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
    
}

.image-102:hover p{
	opacity: 1;
	transform: scale(1);
}
/*------------------------------------- PAST CONFERENCE----------------------------------------------------- */

/*--------------------Contact Section---------------------------------------------------------------*/

#contact .contact form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 60%;
}
#contact .contact h4{
    font-size: 50px;
    color:rgb(0, 88, 138);
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#contact .contact form .btn {
	padding: 15px 30px;
	
}

#contact .contact form input {
	padding: 15px;
	margin-right: 30px;
	font-size: 18px;
	color: rgb(167, 169, 172);
	flex: 1;
}

@media (max-width: 1000px) {
	#contact .contact form input {
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}
}
/*--------------------Contact Section---------------------------------------------------------------*/
/*--------------map-------------------------------------------------------*/

#location .map-top iframe {
	width: 440%;
  }
  /*--------------map-------------------------------------------------------*/
  /*--------------footer-----------------------------------------------------*/
/*Footer Section*/

footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #555;
	color: #fff;
	padding: 20px 0;
}

footer ul {
	display: flex;
}

footer ul li {
	margin-left: 16px;
}

footer p {
	text-transform: uppercase;
	font-size: 14px;
	opacity: 0.6;
	align-self: center;
}

@media (max-width: 800px) {
	footer {
		flex-direction: column;
	}

	footer p {
		text-align: center;
		margin-bottom: 20px;
	}

	footer ul li {
		margin: 0 8px;
	}
}
/*--------------book----------------------------------------------------------------------*/

/*--------------about---------------------------------------------------------------------*/
.top {
	margin-top: 10%;
  }
  
  .mtop {
	margin-top: 5%;
  }
  
  .left, .right {
	width: 50%;
  }
  
  .about {
	margin-bottom: 50px;
  }
  
  .about .img {
	position: relative;
  }
  
  .about .image1 {
	width: 310px;
	height: 450px;
  }
  
  .about .image2 {
	width: 325px;
	height: 220px;
	position: absolute;
	bottom: 5px;
	z-index: 2;
	right: 30%;
  }
  
  .heading {
	position: relative;
  }
  
  .heading::after {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 100px;
	height: 4px;
	background: #C1B086;
  }
  
  .heading h5 {
	font-weight: 400;
	letter-spacing: 2px;
	padding-top: 20px;
	color: #5f5f5f;
  }
  
  .heading h2 {
	font-size: 30px;
	font-weight: 400;
	margin: 20px 0 40px 0;
	color: #222222;
  }
  
  .heading p {
	margin-bottom: 20px;
	line-height: 25px;
	color: #5f5f5f;
	margin: 0 0 20px 50px;
  }
  
  .heading .btn1 {
	margin: 50px 0 20px 50px;
  }
  
  .btn1 {
	background: #C1B086;
	color: white;
  }

  /*---------------------------------------about---------------------------------------------------------------------*/

  