@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
      margin: 0;
      padding: 0;
      font-family: 'Poppins',sans-serif;
}

body
{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(167, 169, 172);
}

.container 
{
     position: relative;
     width: 1500 px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     padding: 30px;
}

.container .card
{
 position: relative;
  max-width: 300px;
  height: 400px;
  background: rgb(0, 125, 190);
  margin: 30px 10px;
  display:flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;

}
.container .card:hover
{
    height: 215px;
}
.container .card .imgBox
{
    position: relative;
    width: 260px;
    height: 260px;
}
.container .card .imgBox img
{
    width: 100%;
    border-radius: 4px;
}