.video-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    width: 300px;
    line-height: 24px;
    margin-bottom: 5;
  }
  .video-stats{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: gray;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .video-author{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: gray;
    margin-top: 0;
    margin-bottom: 20px;
  
  }
  .video-description{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: gray;
    width: 350px;
    line-height: 22px;
    margin-top: 100px;
  }
  
  .apple-text{
    margin-bottom: 50px;
     font-size: 14px;
     background-color: rgb(197, 95, 95);
     color: white;
     text-align: center;
     padding-top:18px;
     padding-bottom: 18px;
        
  }
  .shoplink{
    cursor: pointer;
  }
  
  .shoplink:hover{
    text-decoration: underline;
  }